/* states no margin or padding */
html {
  margin: 0;
  padding: 0;
}
/* block element */
canvas {
  display: block;
}
/* font, color, size of header text */
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 35px;
}
/* for the font, color, and size of paragraph text */
p {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 15px;
}
/* background is black */
body {
  margin: 15;
  padding: 15;
  background-color: black;
}
/* specifying how the content will be laid out */
.horizontal-flex-container {   
  display: flex; 
  flex-flow: row;
  justify-content: center;   
  margin: 5px; 
}
/* centers the sketch displayed */
.sketch-center {
  margin: 0;   
  display: flex;
  justify-content: center;
  align-items: center;
}
